section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
p {
}
p.mathjax {
  font-size: 140%;
}
ol {
  padding-left: 40px;
}
table {
  margin-top: 1em;
  margin-bottom: 1em;
  border-collapse: collapse;
  font-size: 140%;
}
td, th {
  border: 1px #888888 solid;
  padding: 4px 8px 4px 8px;
  min-width: 4em;
  text-align: center;
}
